*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
.box{
    height: 200px;
    width: 800px;
    background-color: crimson;
}
.inner{
    /* height: 50%;
    width: 50%; */
    background-color: yellow;


}

h1{
    font-size: 20vw;
}
/* .box2{
    height: 30vh;
    width: 30vh;
    background-color: pink;
} */
/* .box2{
    height: 30vmax;
    width: 30vmax;
    background-color: pink;
} */
.box2{
    height: 30vmin;
    width: 30vmin;
    background-color: pink;
}
.parent{
    background: lightblue;
    width: 50%;
    margin: 20px;
    padding: 20px;
   font-size: 20px;
     
}
h2{
    font-size: 1em;

}
h4{
    font-size: 3em;
}
h6{
    font-size: 1śem;
}
p{
    font-size: 15px;
}
