*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
#parent{
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    
}
#box1{
    height: 200px;
    width: 200px;
    background-color: lightblue;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: rgb(219, 84, 26);
    /* position: absolute;
    left: 200px;
    top: 0; */
}

#box3{
    height: 200px;
    width: 200px;
    background-color: rgb(100, 4, 155);
    /* position: absolute;
    left: 400px;
    top: 0; */
}