*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
/* h1{
    background-color: pink;
    display: inline-block;
} */

.parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    grid-template-rows: 25% 25% 25% 25%;
}
/* .child1{
    background-color: lightblue;
}
.child2{
    background-color: lightcoral;
}
.child3{
    background-color: chocolate;
} */

/* 
.child:nth-child(1){
    height: 200px;
    width: 200px;
    background-color: lightblue;
}
.child:nth-child(2){
    height: 200px;
    width: 200px;
    background-color: rgb(30, 179, 7);
}
.child:nth-child(3){
    height: 200px;
    width: 200px;
    background-color: chocolate;
} */
/* .box{
    /* height: 200px;
    width: 200px; */
   /* border: 2px solid wheat;
    background-color:  red; */
/* } */ 
/* .box:nth-child(2n){
    
    background-color: lightblue;
} */

/* .box:nth-child(2n){
    background-color: lightblue;
}
.box:nth-child(3n){
    background-color: khaki;
}
.box:nth-child(4n){
    background-color: lightgreen;
} */

h1{
    font-size: 200px;
    color:transparent;
   background-image: url(https://plus.unsplash.com/premium_photo-1664438942574-e56510dc5ce5?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3JmdWx8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-clip: text;

}
h2{
    font-size: 200px;
    color: transparent;
    background: linear-gradient(red,blue);
    background-clip: text;
}
h3{
    font-size: 200px;
    color: transparent;
    background-image: url(https://cdn.pixabay.com/animation/2023/01/19/17/23/17-23-21-162_512.gif);
    background-clip: text;
}
h4{
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke:2px red ;
}

